<div class="container">
  <mat-card>
    <form class="login-container"
          [formGroup]="loginGroup"
          (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput
               placeholder="Enter your email"
               formControlName="email"
               [(ngModel)]="credentials.identifier"
               required>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               placeholder="Enter your password"
               formControlName="password"
               [(ngModel)]="credentials.password"
               type='password'>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">LOG IN!</button>
    </form>
  </mat-card>
</div>
