.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-container > * {
  width: 300px;
}

